OPEN_TARGETS_TARGET_URL=https://ftp.ebi.ac.uk/pub/databases/opentargets/platform/25.12/output/target/
OPEN_TARGETS_DISEASE_URL=https://ftp.ebi.ac.uk/pub/databases/opentargets/platform/25.12/output/disease/
OPEN_TARGETS_ASSOCIATION_URL=https://ftp.ebi.ac.uk/pub/databases/opentargets/platform/25.12/output/association_by_datasource_direct/
REACTOME_PATHWAYS_URL=https://reactome.org/download/current/ReactomePathways.txt
REACTOME_UNIPROT_PATHWAYS_URL=https://reactome.org/download/current/UniProt2Reactome_All_Levels.txt
UNIPROT_PROTEINS_URL=https://rest.uniprot.org/uniprotkb/stream?compressed=true&format=tsv&query=%28reviewed%3Atrue%20AND%20organism_id%3A9606%29&fields=accession,id,protein_name,gene_names,organism_name,length
BIOGRID_TAB3_URL=https://downloads.thebiogrid.org/Download/BioGRID/Latest-Release/BIOGRID-ALL-LATEST.tab3.zip
CHEMBL_SQLITE_URL=https://ftp.ebi.ac.uk/pub/databases/chembl/ChEMBLdb/latest/chembl_36_sqlite.tar.gz

NEO4J_URI=bolt://neo4j:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=KGFramework_2026!
KG_NEO4J_HTTP_PORT=7475
KG_NEO4J_BOLT_PORT=7688
KG_NEO4J_HEAP_INITIAL=512M
KG_NEO4J_HEAP_MAX=1G
KG_RUN_ID=
KG_RESET_SAME_DAY_SNAPSHOTS=false

KG_LOG_LEVEL=INFO
KG_BATCH_SIZE=1000
KG_DOWNLOAD_WORKERS=4
KG_HUMAN_ORGANISM_ID=9606
